<html>
    <header>
        <title>Appointment App</title>
    </header>
    <body style="background-image: url('https://thumbs.dreamstime.com/z/medical-stethoscope-17834499.jpg');background-size: cover;">
     <div style="display: inline-block;">  <button onclick="info()" style="background-color:chocolate;border-color:chocolate;" ><a style="text-decoration: none;background-color: chocolate;">Click to get Doctors detail</a></button></div> 

        <div id="info" style="text-align: center;display: inline;;margin: auto;background-image:url('https://thumbs.dreamstime.com/z/medical-stethoscope-17834499.jpg') ;background-color: white;">
        <ul id="docinfo" style="text-align: justify;"></ul></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
        <script src="showdoct.js"></script>
    </body>
</html>